img {
    display: block;
    margin: 30px auto;
    width: 600px;
    height: auto;
    border: 3px solid black;

}

.pf-v5-c-nav__link {
    text-align: left;
}


.pf-v5-c-page__sidebar {
    overflow: hidden;
}

.pf-v5-c-nav__link {
    font-size: 15px;
}

.pf-v5-c-nav__item>a {
    font-size: 13px;
}


.floatLeft {
    float: left;
}

label {
    cursor: pointer;
    display: block;
    height: 4rem;
    width: 4rem;
    position: relative;
}

label span {
    border-radius: 15%;
    height: 3px;
    width: 32px;
    background-color: #4f5255;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

label span:before {
    border-radius: 15%;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4f5255;
    top: 400%;
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

label span:after {
    border-radius: 15%;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #4f5255;
    top: -400%;
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

label:hover span {
    height: 0;
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

label:hover span:before {
    height: 3px;
    transform: rotate(-45deg);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

label:hover span:after {
    height: 3px;
    transform: rotate(45deg);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

.pf-v5-c-page__sidebar {
    background-color: #fafafa;
}


nav {
    max-width: 300px;
    background-color: #353739;
    transform: translateX(-100%) scale(1, 0.1);
    transform-origin: top left;
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    border-top: 1px solid #4f5255;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
}


nav ul li:first-child {
    border-top: none;
}


nav ul li:hover a i {
    color: #4f5255;
}

.navBtn:checked~div nav {
    transform: translateX(0);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
    height: 100%;
}


.navBtn:checked~div nav ul li {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

.navBtn:checked~div {
    overflow: auto;
}


.navBtn {
    display: none;
}



.bottom {
    position: fixed;
    bottom: -19px;
    transform: translateY(0px);
    z-index: 9999;
    width: 100%;
    background-color: rgb(22, 20, 20);

}
.bottom a {
    text-decoration: none;
    color: white;
    padding-left: 50px;
    z-index: 9999;
}

.raised {
    transform: translateY(-19px);
    z-index: 9999;
}


.button-for-bottom{
    z-index: 2000;
    position: fixed;
    bottom: 5px;
    right: 180px;
    width: 25px;
    height: 25px;

    background-color: rgb(22, 20, 20);
    border-radius: 20px 20px 0 0;

}



figure {
    margin: 60px 0;
    text-align: center;
}



.pf-v5-c-masthead__main {
    margin: 0 20px;
}

.pf-v5-c-accordion__expandable-content-body.non__visible::after {
    opacity: 0;
}

.non__visible {
    opacity: 0;
}

.pf-m-4xl {
    margin-top: 100px;
}


.html__fx {
    color: #005eff;
    font-style: italic;
}


.pf-v5-c-back-to-top {
    z-index: 100000;
    display: none;
}


.pf-v5-c-brand {
    width: 150px;
    height: auto;
    border: 0;
}

.pf-v5-c-content {
    max-width: 1000px;
}

.pf-v5-c-page__sidebar-body {
    opacity: 1;
}

.pf-v5-c-banner {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 18.125rem;
}

.icons {
    position: fixed;
    right: 60px;
}

.fa-ellipsis-v {
    padding-right: 15px;
    width: 20px;
    height: 20px;

    color: white;
}

.fa-home {
    padding-left: 10px;
    width: 20px;
    height: 20px;
}

.fa-cog {
    color: white;
}



.fa-cog::before {
    width: 20px;
    height: 20px;

}

.dicts__list {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list__item {
    width: 33.33333%;
    padding: 0 40px;
}

.item__inner {
    position: relative;
}


.item__inner:hover .item__img img {
    opacity: -1;
}

.item__inner:hover .item__text {
    opacity: 1;
}

.item__img {
    background: linear-gradient(to bottom, #434289, #9d54b3);

    transition: transform .2s linear;
}

.item__img img {
    display: block;
    min-width: 100%;
    height: 100px;
    transition: opacity .1s linear;
}

.item__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.item__href {
    color: white !important;
}

.pf-v5-c-nav__list {
    padding-top: 0px;
}

.pf-v5-c-masthead__content {
    font-size: 30px;
}

.pf-m-bordered {
    margin: 60px auto;
}

.pf-v5-c-code-block__content {
    margin-bottom: 30px;
}

.pf-v5-c-clipboard-copy {
    margin: 30px 0;
    max-width: 600px;
}

.pf-v5-c-code-block {
    max-width: 800px;
}

.pf-m-expandable a {
    text-decoration: none;
    color: white;
}

.fa-home {
    text-decoration: none;
    color: white;
}

.video {
    width: 48%;
    /* Ширина каждого элемента */
    margin-bottom: 10px;
}

.video iframe {
    left: 0;
    top: 0;
    height: 270px;

}

.container__videos {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

footer {
    width: 100%;
    background-color: #4f5255;
}

.no--sidebar {
    grid-template-areas: "header header"
        "main main";
}


.pf-v5-c-page {
    background-color: #fbfafb;
}

.pf-v5-c-page__main {
    z-index: 500;
}

.expanded {
    max-width: 1200px;
}

.pf-v5-c-page__main-section {
    padding: 20px 20px;
}

@media (max-width: 1200px) {
    .pf-v5-c-banner {
        width: 100%;
        bottom: 0;
    }

    .icons {
        opacity: 0;
    }

    .navBtn:checked~div {
        transform: translateX(0);
    }

    .pf-v5-c-page__sidebar {
        z-index: 999;
    }


}

@media (max-width: 992px) {
    .pf-v5-c-masthead__content {
        font-size: 18px;
    }

    .pf-m-4xl {
        font-size: 25px;
    }

    .pf-m-3xl {
        font-size: 22px;
    }

    .video {
        width: 90%;
        margin: 0 auto 30px auto;
    }

    .dicts__list {
        flex-direction: column;
        align-items: center;
    }

    .list__item {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .pf-v5-c-masthead__main {
        max-height: 60px;
    }

    .pf-v5-c-back-to-top {
        margin-bottom: 25px;
    }

    .list__item {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .pf-v5-c-masthead__content {
        font-size: 16px;
        padding-left: 10px;
    }

    .pf-m-4xl {
        font-size: 20px;
    }

    .pf-m-3xl {
        font-size: 18px;
    }

    .list__item {
        width: 80%;
    }


}
